.header-container {
   display: flex;
   flex-direction: column;
   @media (min-width: $desktop-max) {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 34px 34px 34px 0;
      align-items: center;
   }
}

.header {
   padding: 18px 16px;
   margin-bottom: 24px;
   display: flex;
   align-items: center;
   background: $white;
   justify-content: space-between;
   @media (min-width: $desktop-max) {
      background-color: $light-grey;
      padding: 0;
      margin: 0;
   }

   &__list {
      display: flex;
      gap: 16px;

      &:nth-child(1) {
         @media (min-width: $desktop-max) {
            display: none;
         }
      }

      &:nth-child(2) .header__list-item:nth-child(2)::before {
         content: '';
         margin-top: 4px;
         height: 32px;
         border: 1px solid $light-grey-bprder;
         margin-right: 16px;
         border-radius: 1px;

         @media (min-width: $desktop-max) {
            display: none;
         }
      }
      @media (max-width: $phone) {
         &:nth-child(1) .header__list-item:nth-child(2)::before {
            display: none;
         }
      }
   }

   &__list-item {
      display: flex;
      align-items: center;
      gap: 8px;

      &:nth-child(2)::before {
         content: '';
         margin-top: 3px;
         height: 32px;
         border: 1px solid $light-grey-bprder;
         margin-right: 16px;
         border-radius: 1px;
      }
   }

   &__tablet-sec {
      display: flex;
      align-items: center;
      gap: 16px;

      @media (max-width: $phone) {
         display: none;
      }

      @media (min-width: $desktop-max) {
         display: none;
      }
   }

   &__list-item-tablet {
      display: flex;
      align-items: center;
   }

   &__logo-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50.81px;
   }

   &__main-title {
      font-weight: 700;
      font-size: 28px;
      line-height: 40px;

      &::before {
         content: '';
         border: 2px solid $light-sky;
         border-radius: 0 5px 5px 0;
         margin-right: 12px;

         @media (min-width: $tablet) {
            margin-right: 20px;
         }
         @media (min-width: $desktop) {
            margin-right: 30px;
         }
      }
   }

   &__button-text {
      display: none;
      font-weight: 500;
      color: $black;
      font-size: 16px;

      @media (min-width: $desktop-max) {
         display: block;
      }
   }
}
