@font-face {
   font-family: 'TT Lakes';
   src: url('../assets/fonts/TTLakes-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'TT Lakes';
   src: url('../assets/fonts/TTLakes-Medium.ttf');
   font-weight: 500;
}

@font-face {
   font-family: 'TT Lakes';
   src: url('../assets/fonts/TTLakes-Bold.ttf');
   font-weight: 700;
}
