$phone: 767px;
$tablet: 768px;
$tablet-max: 1045px;
$desktop: 1046px;
$desktop-max: 1366px;

/*Color*/

$muted: #7e7e82;
$pink: #ff3e79;
$white: #ffffff;
$light-grey: #f8f8f8;
$light-grey-bprder: #eaeaea;
$light-sky: #41f6d7;
$sky-border: #d9fff5;
$black: #1b1c21;
